.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 2rem auto 6rem;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2rem 1.5rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #1a467b, #1f5393);
  box-shadow: 20px 20px 60px #194274, -20px -20px 60px #215a9e;
}

.headerTitle {
  color: #f8f8ff;
  font-weight: bold;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.menus {
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  text-decoration: none;
  color: #f8f8ff;
  margin-left: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}
